// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;

$purple: rgba(143, 0, 255, 1);
$background-color: rgba(29, 33, 39, 1);
$button-shadow: 0px -1px 7px rgba(0, 0, 0, 0.25);
$gray: rgba(225, 224, 226, 1);
$black: rgba(24, 24, 24, 1);
$yellow: rgba(255, 225, 68, 1);
$category-disable: rgba(255, 255, 255, 0.15);
