// Specific CSS for your home-page

body {
  background-color: $background-color;
  h1 h2 h3 a p {
    color: #E1E0E2;
  }
}

.main-container {
  display: flex;
  margin-top: -120px;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-left: 119px;
}

