// Specific CSS for your home-page

body {
  h1 h2 h3 a p {
    color: #E1E0E2;
  }
}

.main-container {
  justify-content: center;
  margin-top: 86px;
  min-height: 100vh;

  .container {
    margin-top: 10px;
  }

}

.content {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-left: 119px;
}


