// Specific CSS for your home-page

body {
  h1 h2 h3 a p {
    color: #E1E0E2;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  min-height: 90vh;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-left: 119px;
}

.container {
  margin-top: 110px;
}

