<div class="footer">
  <div class="container footer-info">
    <div class="row" style="
      margin-bottom: -40px;
      margin-top: 40px;">

      <div class="col-lg-4 col-xs-12">
        <div class="d-flex" style="
          justify-content: start;
          padding-left: 80px;
          padding-top: 10px;
          padding-bottom: 10px;">
          <a href="#" id="logo-footer">
            <%= image_tag "logo-footer.svg", alt: "alttext", class: "logo-footer-img" %>
          </a>
        </div>

        <p class="pr-5 text-white-50">The easiest way to learn</p>
      </div>

      <div class="col-lg-4 col-xs-6 links">
        <p class="mt-lg-0 mt-sm-3">About</p>
        <ul class="m-0 p-0">
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-xs-6 links" style="text-align: right;">
        <p class="mt-lg-0 mt-sm-3">Location</p>
        <ul class="m-0 p-0">
          <li><a href="#">Udar's house...</a></li>
          <li><a href="#">(+351) 9999-9999</a></li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2020 Flashy Holdings, Inc. All Rights Reserved.</small></p>
      </div>
    </div>

  </div>
</div>
