<li class="nav-item active d-flex align-items-stretch mt-2 p-1">
  <div class="dropdown show">
    <div id="menu-bar-open" class="dropdownMenuLink">
      <%= image_tag "menu-img.svg", alt: "Menu image" %>
    </div>
  </div>
</li>
