<!-- <div id= "vertical-nav" class="navbar navbar-expand-sm navbar-light"> -->

<div class="dropdown show">
  <div id="menu-bar-open menu-bar" class="dropdownMenuLink">
    <%= image_tag "menu-bar.svg", alt: "Menu image" %>
  </div>
</div>


<!-- </div> -->
