<div class="navbar navbar-expand-sm navbar-light navbar-flashy fixed-top">
  <div class="d-flex flex-row">
    <div class="d-flex align-items-strech ml-4">
      <li class="nav-item active d-flex align-items-stretch mt-2 p-1">
          <div class="dropdown show">
            <div id="menu-bar-open" class="dropdownMenuLink">
              <%= image_tag "menu-img.svg", alt: "Menu image" %>
            </div>
          </div>
      </li>
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <div class="d-flex align-items-strech mr-4">
      <%= link_to "/" do %>
        <%= image_tag "logo-raio.svg", alt: "Logo Flashy", id: "logo-flashy" %>
      <% end %>
    </div>
  </div>
</div>

