<h1>Cards#index</h1>
<p>Find me in app/views/cards/index.html.erb</p>
<h3><%= @deck.name %></h3>
<% counter = 1 %>
<% @cards.each do |card| %>
  <p><%= counter %>. <%= card.front %></p>
  <% counter += 1 %>
<input type="text">

<% end %>
