.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.flip{
  background-color: #8F00FF;
  border-radius: 39px;
  box-shadow: 0px 4px 8px rgba(143, 0, 255, 0.49);
  color: white;
  width: 244px;
  height: 51px;
  position: absolute;
  top:250px;
  left:200px;
  border: 0;
  transition: .3s;
  text-align: center;
  line-height: 50px;
  &:hover{
    background-color: #7502CE;
  }
}

.user-actions{
  position: absolute;
  top: 630px;
  left: 1261px;
}
.botoes{
  background-color: white;
  height: 50px;
  width: 260px;
  position: absolute;
  box-shadow: 0 0 30px 0 #d1d1d1;
  overflow: hidden;
  top: 550px;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  border-radius: 5px;
}

input[type="radio"]{
  display:none;
}

input[type="radio"]:checked + label{
  background-position: 0 -90px;
  color: white;
  transition: 1s;
}

.label1,.label2{
  display:block;
  height: 140px;
  width:130px;
  background-size: 130px 180px;
  background: linear-gradient(
    to bottom,
    white 0,white 90px,
    #2c2c2c 90px, #2c2c2c 180px
    );
  position: absolute;
  top: 0;
  transition: 0.5s;
  color: #2c2c2c;
}

.label2{
  right: 0;
}

.vote{
  display: flex;
  height: 50px;
  width: 130px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 16px;
}

.review-button{
  position: absolute;
  bottom: 110px;
  left:40px;
}

#buttons{
  margin: 5px !important;
}
