.deck-index h1 {
  color: $black;
  font-family: $h1-h2-font;
  font-size: 45px;
  letter-spacing: 0.01em;
  border-color: rgba(1, 123, 255, 0.5);
  margin-bottom: 34px;
}

.deck-card {
  // display: flex;
  // flex-direction: column;
  // word-wrap: break-word;
  // background-color: #fff;
  // background-clip: border-box;
  // border: 1px solid rgba(71,82,93,.8);
  // border-radius: 0px 35px;
  padding: 5px 10px;

  width: 250px;
  height: 240px;
  background: #FFFFFF;
  border: 3px solid #181818;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #8F00FF;
  border-radius: 0px 16px 0px 28px;
  // justify-content: inherit;

  .deck-body {
    display: flex;
    justify-content: space-between;
    padding: 42px 20px 0px 30px;
    flex-direction: column;
    text-align: -webkit-center;
    justify-content: center;

    .deck-title {
      width: 100%;
      justify-content: center;
    }

    .deck-upvote {
      width: 100%;
    }
  }

  .deck-play-link {
    padding-left: 40px;
  }

  .deck-play {
    align-self: center;
  }
}

.deck-btn {
  background-color: $purple;
}

.deck-link {
  color: black;
  opacity: 0.8;
  // width: 100%;
  // height: 100%;

  &:hover {
    text-decoration: none;
    color: $purple;
    opacity: 1;
  }
}

.maincontainer{
  width: 720px;
  height: 420px;
  position: absolute;
}

.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  box-shadow: 0px 6px 12px rgba(109,109,109,.29);
  border-radius: 17px;
}

.thecard .card-body {
  background-color: white;
  border-radius: 17px;

}


.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.theback{
  position: absolute;
  width: 100%;
  height: 100%;
    // backface-visibility: hidden;
  transform: rotateY(180deg);
}


.profile{
  border-radius: 9px;
  box-shadow: 0px 6px 12px rgba(109,109,109,.29);
}

.stats{
  width: 320px;
  height: 143px;
  text-align:center;
  padding-top: 20px;
  margin-bottom: 60px;
  font-weight: bolder;
  color: white;
  h3{
    font-size: 18px;
  }
  p{
    font-size: 48px;
    margin-top:-10px;
  }
}

.created{
  background: linear-gradient(180deg, rgba(143, 0, 255, 0.58) 0%, #8F00FF 100%);
}
.upvoted{
  background: linear-gradient(180deg, rgba(44, 44, 44, 0.6) 0%, #2C2C2C 100%);
}
.reviewed{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, #FFFFFF 100%);
  h3,p{
    color: #8F00FF;
  }
}
.lists{
  width: 320px;
  padding: 28px 34px;
  background: #FFFFFF;
  margin-bottom: 60px;
  ul{
    padding-inline-start: 0px;
  }
  li{
    list-style: none;
    padding: 5px 0;
  }
}
.profile-container{
  margin: 75px 0px 50px 180px;
  width: 1085px;
}
.last-reviews{
  background: #FFFFFF;
  padding: 28px 34px;
  p{
    margin-bottom: 0;
  }
  ul{
    padding-inline-start: 0px;
  }
  li{
    margin-bottom: 40px;
    font-style: italic;
    list-style-type: none;
  }
}
.top-decks{
  width: 320px;
  padding: 28px 34px;
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(180deg, rgba(85, 70, 252, 0.7) 0%, #5546FC 100%);
  color: white;
}
.decks-up{
  width: 320px;
  background: #FFFFFF;
  position: absolute;
  padding: 60px 34px 28px 34px;
  top:115px;
  z-index: -1;
}
