.reviews {
  display: flex;
  justify-content: space-around;
  z-index: 0;
  align-self: flex-end;
  width: 80px;
  margin: -6px;
  padding-top: 4px;
  text-align: center;
}


.deck-bg {
  background: #FFFFFF;
  opacity: 0.85;
  border-radius: 2px 2px 2px 12px;
  margin: 65px -10px -45px -10px;
  min-width: 100%;
  min-height: 134px;
  box-shadow: 0px -3px 4px 0px #131313;
  z-index: 0;

}

.deck-index h1 {
  color: $black;
  font-family: $h1-h2-font;
  font-size: 45px;
  letter-spacing: 0.01em;
  border-color: rgba(1, 123, 255, 0.5);
  margin-bottom: 34px;
}

.deck-card {
  padding: 5px 10px;
  width: 300px;
  height: 210px;
  background: #FFFFFF;
  border: 3px solid #353547;
  box-shadow: 0px 4px 4px #8f00ff29;
  border-radius: 2px 14px 2px 14px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(0.6) hue-rotate(-30deg);


  .deck-body {
    display: flex;
    justify-content: space-between;
    padding: 16px 5px 0px 5px;
    flex-direction: column;
    text-align: -webkit-center;
    justify-content: center;
    z-index: 1;

    .deck-title {
      width: 100%;
      justify-content: center;
      min-height: 30px;
      min-width: 100%;

      h3 {
        font-family: $h1-h2-font;
        font-style: normal;
        font-weight: bolder;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        padding-top: 1px;

      }

      p {
        font-family: Avenir;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        text-shadow: 0px -1px 4px #8f00ff57;
      }

    }

    // .deck-upvote {
    //   width: 100%;
    // }
  }

  .deck-play-link {
    padding-left: 40px;
  }

  .deck-play {
    align-self: center;
  }
}

.deck-btn {
  background-color: $purple;
}

.deck-link {
  color: black;
  transition: 0.4s;
  // opacity: 0.8;

  &:hover {
    text-decoration: none;
    color: $purple;
    transform: scale(1.05);
    transition: 0.4s;
  }
}


.maincontainer{
  width: 720px;
  height: 420px;
  position: absolute;
}

.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  // box-shadow: 0px 6px 12px rgba(109,109,109,.29);
  border-radius: 2px 16px 2px 16px;
}

.thecard .card-body {
  background-color: white;
  // border-radius: 2px 16px 2px 16px;

}


.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}


.profilex{
  border-radius: 2px 14px;
  box-shadow: 0px 6px 12px rgba(109,109,109,.29);
}

.stats{
  width: 320px;
  height: 143px;
  text-align:center;
  padding-top: 20px;
  margin-bottom: 60px;
  font-weight: bolder;
  color: white;
  h3{
    font-size: 18px;
  }
  p{
    font-size: 48px;
    margin-top:-10px;
  }
}

.created{
  background: linear-gradient(180deg, rgba(143, 0, 255, 0.58) 0%, #8F00FF 100%);
}
.upvoted{
  background: linear-gradient(180deg, rgba(44, 44, 44, 0.6) 0%, #2C2C2C 100%);
}
.reviewed{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, #FFFFFF 100%);
  h3,p{
    color: #8F00FF;
  }
}
.lists{
  width: 320px;
  padding: 28px 34px;
  background: #FFFFFF;
  margin-bottom: 60px;
  ul{
    padding-inline-start: 0px;
  }
  li{
    list-style: none;
    padding: 5px 0;
  }
}
.profile-container{
  margin: 115px 0px 50px 400px;
  width: 1085px;
}
.last-reviews{
  background: #FFFFFF;
  padding: 28px 34px;
  p{
    margin-bottom: 0;
  }
  ul{
    padding-inline-start: 0px;
  }
  li{
    margin-bottom: 40px;
    font-style: italic;
    list-style-type: none;
  }
}
.top-decks{
  width: 320px;
  padding: 28px 34px;
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(180deg, rgba(85, 70, 252, 0.7) 0%, #5546FC 100%);
  color: white;
}
.decks-up{
  width: 320px;
  background: #FFFFFF;
  position: absolute;
  padding: 60px 34px 28px 34px;
  top:115px;
  z-index: -1;
}

.comment{
  p{
    font-style:italic;
  }
  padding-bottom: 15px;
}
