#logo-footer {
  margin-left: -16px;
}

.fa-bolt:hover {
  color: $purple;
}

.footer {
  width:100%;
  // margin-bottom: 0px;
  background: #353547;
  color: white;
  position: relative;
  z-index: 2;

  p {
    font-family: $a-p-font;
    letter-spacing: 0.07rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0rem;
  }

  u {
    color: rgba(255, 255, 255, 0.7);
  }

  .links {
    font-family: $a-p-font;
    // letter-spacing: 0.07rem;
    text-align: left;
    padding: 16px 0px 10px 233px;

    p {
      font-size: 24px;
      // text-decoration: underline;
    }

    ul {list-style-type: none;}
    li a {
      color: rgba(255, 255, 255, 0.7);
      transition: color .2s;
      font-weight: 300;
      font-family: $a-p-font;
      letter-spacing: 0.07rem;

      &:hover {
        text-decoration:none;
        color: $purple;
        }
    }
  }

}

.footer-info {
  padding: 4px 0px 0px 0px;
}

.copyright {
  font-family: $a-p-font;
  margin-top: 71px;
  margin-bottom: 0px;
  display: inline-table;
  text-align: center;

  p {
    border-top:1px dotted rgba(255,255,255,.1);
    letter-spacing: 0.07rem;
    padding-bottom: 16px;
  }
}
