.categories-banner {
  background: linear-gradient(-226deg, rgba(43, 43, 43, 0.49) 31%, rgba(143, 0, 255, 0.38) 62%, rgba(255,255,255,0.9346113445378151) 10028%), url(banner/banner-girl-books2.png);
  background-size: cover;
  width: 100%;
  // height: 900px;
  z-index: 0;
  // background-position: 8% -100px;
  background-repeat: no-repeat;
  background-color: #353547;
  // background-position-y: -160px;
}

