// .nav-row {
//   height: calc(100% - 70px); /* 100% Full-height */
//   z-index: 1; /* Stay on top */
// }

.show {
  margin-left: 32px;
  align-self: flex-start;
  margin-top: 82px;

  img {
    width: 70px;
  }
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 0;
  height: 100vh;
  top: 0;
  left: 0;
  box-shadow: 4px 0px 23px rgba(143, 0, 255, 0.55);
  opacity: 0.96;
  z-index: 1; /* Stay on top */
  height: calc(100% - 70px); /* 100% Full-height */
  overflow-x: hidden; /* Disable horizontal scroll */
  position: fixed; /* Stay in place */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}

.sidebar a:hover {
  // color: rgb(43,43,43);
  background-color: $yellow;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

// .sidebar {
//   width: 0; /* 0 width - change this with JavaScript */
//   bottom: 0;
//   left: 0;
//   background-color: #111; /* Black*/
//   padding-top: 60px; /* Place content 60px from the top */
//   z-index: 1; /* Stay on top */
//   height: calc(100% - 70px); /* 100% Full-height */
//   overflow-x: hidden; /* Disable horizontal scroll */
//   position: fixed; /* Stay in place */
//   transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
// }
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
