.results-btn {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.row-graph {
  background-color: white;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 6px;
}

.results-text {
  padding-left: 28px;
  background-color: #353547ba;
  width: 100%;
  padding-top: 20px;
  color: white;
  border-radius: 0px 0px 6px 6px;
  margin-top: 16px;
}
