.categories-banner {
  background: linear-gradient(-226deg, rgba(43, 43, 43, 0.49) 31%, rgba(143, 0, 255, 0.38) 62%, rgba(255, 255, 255, 0.934611) 10028%), url(banner/banner-girl-books2.png);
  background-size: cover;
  width: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-color: #353547;
  padding-top: 60px;
  padding-right: 70px;
  display: flex;
  height: 100vh;

}

.category-index {
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  align-items: center;
  padding-right: 130px;
  // padding-top: 60px;
  background-color: #3535472e;
  height: 540px;
  border-radius: 5px;
  box-shadow: 4px 5px 17px rgba(10,10,10,0.2);

  h1 {
    color: $black;
    font-family: $h1-h2-font;
    font-size: 45px;
    letter-spacing: 0.01em;
    margin-top: 50px;
    border-color: rgba(1, 123, 255, 0.5);
  }
}

.form-group {
  justify-content: center;
  flex-wrap: wrap;
  max-height: 260px;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 16px;
}


.list-categories {
  margin-top: 10px;
  text-transform: capitalize;

  .col-form-label {
    display: none;
  }

  .btn {
    position: relative;
    width: 400px;
    height: 61px;
    background: $purple;
    box-shadow: 0px -1px 7px rgba(43,43,43,0.3);
    border-radius: 3px;
    color: white;
    font-family: $a-p-font;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    justify-content: center;
    text-transform: uppercase;
  }
  .form-check {
    display: inline-flex;
    justify-content: center;
    background-color: transparent;
    width: 192.38px;
    height: 55px;
    box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.25);
    border-radius: 50px;
    border-style: double;
    margin: 24px 12px;
    align-items: center;
    padding-left: 0px;
    color: $purple;

    &:hover {
      background-color: $light-purple;
      cursor: pointer;
    }

    .form-check-label {
      color: white;
      font-family: $a-p-font;
      font-weight: bold;
      // z-index: -1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .form-check-input {
    display: none;
    margin: 0px;
    z-index: 1;
  }
}

.category-title {
  margin-bottom: 80px;
}

.purple {
  background-color: rgba(143, 0, 255, 0.7) !important;
  color: white !important;
  // z-index: 1;

}



.white {
  color: white;
}





