<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4 category-index">
      <div class="category-title">
        <h1 class="d-flex justify-content-center">SELECT YOUR FAVORITES CATEGORIES</h1>
      </div>

      <div class="list-categories">
        <%= render 'favorite_categories/form' %>
      </div>
    </div>
  </div>
</div>


