<div class="categories-banner"
  style="background: linear-gradient(-226deg, rgba(43, 43, 43, 0.49) 31%, rgba(143, 0, 255, 0.38) 62%, rgba(255,255,255,0.9346113445378151) 10028%),
  url(<%= image_tag "banner/banner-girl-books2.png", alt: "Home Banner" %>);">

  <!-- Photo by Lacie Slezak on Unsplash -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-6 category-index">
        <div class="category-title col">
          <h1 class="d-flex justify-content-center">SELECT YOUR FAVORITES CATEGORIES</h1>
        </div>

        <div class="list-categories">
          <%= render 'favorite_categories/form'%>
        </div>
      </div>
    </div>
  </div>

</div>



