<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4 category-index">
      <h1 class="d-flex justify-content-center">SELECT YOUR FAVORETS CATEGORIES</h1>

      <div class="category-form">
        <%= render 'favorite_categories/form' %>
      </div>
    </div>
  </div>
</div>


