<h1>Categories#index</h1>

<%= simple_form_for @favorite_category do |f| %>
   <%= f.input :category_id, as: :check_boxes, collection: @categories, include_hidden: false %>
   <%= f.button :submit %>
<%end%>
