<div class="categories-banner" style="background-image: url(<%= image_tag 'banner-girl-books2.png', alt:'Home Banner' %>);">
  <!-- Photo by Lacie Slezak on Unsplash -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-6 category-index">
        <div class="category-title col">
          <h1 class="d-flex justify-content-center">SELECT YOUR FAVORITES CATEGORIES</h1>
        </div>

        <div class="list-categories">
          <%= render 'favorite_categories/form'%>
        </div>
      </div>
    </div>
  </div>

</div>



