<%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[name]" id="search_name" placeholder="Ruby on Rails, Python, e.g..." />
    <button name="button" type="submit" class="btn btn-flat deck-btn">
     <i class="fas fa-search"></i> Search
    </button>
 </div>
<% end %>

