<div class="container">
  <div class="row" style="display: flex; justify-content: center;">
    <div class="col-xs-12 col-sm-10 col-sm-offset-4 mt-5">
      <div class="card add-card">

        <h1 class="d-flex justify-content-center" style="font-family: Avenir;">Add your own deck !</h1>
      <%= render 'form', deck: @deck %>
      </div>

    </div>
  </div>
</div>
