<h1>Results for <%= @deck.name %>:</h1>

<ul>
  <li>
    Knew: <%= @results_positive %>
  </li>
  <li>
    Did not know: <%= @results_negative %>
  </li>
</ul>
<strong>
  Total: <%= @results_positive + @results_negative %>
</strong>
<p>Wooooooowwwww maaan, really impressive 😲</p>
