<div class="container">
  <div class="row">
    <div class="col-sm-6 mt-4">

      <h1><%= @deck.name %></h1>
      <p><%= @deck.category.name %></p>
      <p><%= @deck.description %></p>

      </br>
      <%= link_to 'Play', deck_card_path(@deck, @deck.cards.first.id) %>
      <p>You still have <strong>counting</strong> cards.</p>

      <div class="card mt-4">
        <div class="card-body" style="height: 200px;">

        </div>
      </div>

    </div>
  </div>
</div>


