<div class="mb-5">
  <%= simple_form_for [deck, review], url: deck_reviews_path(deck), method: :post do |f| %>
      <textarea name="content" id="" cols="50" rows="2"></textarea>
    <div class="botoes">
      <input type="radio" name="review_value" id="review_value1" value="1">
      <label for="review_value1" class="label1">
        <span class="vote">UPVOTE</span>
      </label>
      <input type="radio" name="review_value" id="review_value2" value="-1">
      <label for="review_value2" class="label2">
        <span class="vote">DOWNVOTE</span>
      </label>
    </div>
    <%= f.submit "add review", class: "btn btn-primary review-button" %>
  <% end %>
</div>

