
<!-- own decks -->
<ul>
  <% @decks.each do |deck| %>
    <li><%= deck.name %></li>
  <% end -%>
</ul>


<!-- upvoted decks -->
<ul>
  <% @upvoted_decks.each do |deck| %>
    <li><%= deck.name %></li>
  <% end -%>
</ul>
